{% extends "inout_manager/base.dj.html" %}
{% block content %}
<div class='container-fluid'>
  <div class="row">
    <div class="span12 well">
      <h2> Expedition History </h2>
      <form method="get" action="{% url search_exped_event %}" class="form-inline" >
        <input name="exped_name" class=span5" type="text"  placeholder="야카모즈, 플라넷 상업조합" >
        <button type="submit" class="btn btn-primary"> <i class="icon-search icon-white"></i></button>
      </form>
    </div>
  </div>
  {% include "inout_manager/mig_view.dj.html" %}
  <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
  <script src="{{STATIC_URL}}/js/bootstrap.min.js"></script>
  {% endblock content %}
</div>
