<head>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class='container'>
        <div class='row'>
            <div class='span12'>
                inline elements like span, block level elements like p, div.
            </div>
        </div>
        <div class='row'>
            <div class='span4'>
                inline elements like span, block level elements like p, div.
            </div>
            <div class='span4'>
                inline elements like span, block level elements like p, div.
            </div>
            <div class='span4'>
                inline elements like span, block level elements like p, div.
            </div>
        </div>
    </div>
</body>
