<div class="row-fluid">
  <div class="span12 well">
    <table class='table table-striped'>
      {% if mig_history_list %}
      <thead>
        <tr>
          <th class='span2'>이름</th>
          <th class='span3'>이전 원정대</th>
          <th class='span3'>현재 원정대</th>
          <th class='span3'>이전 가입 시기</th>
          <th class='span3'>현재 가입 시기</th>
        </tr>
        </thead> <tbody>
        {% for history in mig_history_list %}
        <tr>
          <td>
            <a href='/inout_manager/player/{{history.name}}'>{{history.name}} </a>
            <a href='http://play.archeage.com/characters/{{history.player_id}}' >
              <i title="아키에이지 웹사이트 캐릭터 페이지로"  data-toggle="tooltip" class='icon-user icon-white hover-icon-toggle mig-tooltip'></i>
            </a>
          </td>
          <td>
            {% if history.prev_exped_name %}
            <a href='/inout_manager/expedition/{{history.prev_exped_name}}'>{{history.prev_exped_name}} </a>
            <a href='http://play.archeage.com/expeditions/HIRAMAKAND/{{history.prev_exped_id}}/members' ><i title='아키에이지 웹사이트 원정대 페이지로' data-toggle="tooltip" class='icon-home icon-white hover-icon-toggle mig-tooltip'></i></a>
            {% endif %}
          </td>
          <td>
            <a href='/inout_manager/expedition/{{history.recent_exped_name}}'>{{history.recent_exped_name}} </a> 
            <a href='http://play.archeage.com/expeditions/HIRAMAKAND/{{history.recent_exped_id}}/members'>
              <i  title='아키에이지 웹사이트 원정대 페이지로' data-toggle="tooltip" class='icon-home icon-white hover-icon-toggle mig-tooltip'></i>
            </a> 
          </td> 
          <td>{{ history.prev_time|date:"Y/m/d f" }}</td> 
          <td>{{ history.recent_time|date:"Y/m/d f"}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <h2> NO RESULT </h2>
    {% endif %}

    <div class="row-flouid">
      <div class="span4 offset4" >
        <div class="pagination">
          <ul>
            {% if mig_history_list.page.has_previous %}
            <li><a href="?page_num={{ mig_history_list.page.previous_page_number }}">previous</a></li>
            {% else %}
            <li class="disabled prev"><a href="#">previous</a></li>
            {% endif %}

            <li class='active'><a href="?page_num=mig_history_list.page.number">Page {{ mig_history_list.page.number }} of {{ mig_history_list.page.paginator.num_pages }}</a><li>

            {% if mig_history_list.page.has_next %}
            <li><a href="?page_num={{ mig_history_list.page.next_page_number }}">next</a></li>
            {% else %}
            <li class="disabled next"><a href="#">next</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
      <div class="span4"> </div>
    </div>
  </div>
</div>
